# Archivos de compilación
bin/
obj/
*.suo
*.user
.vs/

# Archivos de dependencias
node_modules/
*.lock

# Archivos de caché
*.cache
*.log

venv/
__pycache__/
*.pyc
*.pyo
*.h5  # Puedes quitar si quieres versionar el modelo, pero es grande